{% extends "master.twig" %}

{% block adminBar %}

	<h1>DashBoard</h1>

	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link active" href="/cursophp/user/add">Add User</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/cursophp/jobs/add">Add Job</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/cursophp/logout">Logout</a>
		</li>

	</ul>

{% endblock %}
